<div class="panel panel-primary">
 <div class="panel panel-heading">{{Title}}</div>
 <div class="panel panel-body">
   
    
 <div class="row">

  <div class="col-md-8"> 
   <input type="text" [(ngModel)]='userInput' placeholder="Please enter text here"/>
   <h4>{{userInput}} is {{(products | empSearch:userInput).length}}</h4>
    <table class="table table-borded">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class='success'>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr class='danger'>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr class='info'>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>



  </div>

   <div class="col-md-2">
   <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">
      <span class="glyphicon glyphicon-print"></span>Primary     
    </button>
  </div>
  
  <div class="col-md-2">
      <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
  </div>

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <div class="table-responsive" *ngIf="showTable" >
    <table class="table">
      <thead>
        <tr>
         <th><button class="btn btn-success" (click)="toggleImage()">
           
          {{showImage?"Hide image":"ShowImage"}}
        
         </button></th>
        <th>ProductNBame</th>
        <th>ProductCode</th>
        <th>ReleaseDate</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of products | empSearch:userInput" >
         <td><img [src]="prod.imageUrl"
          *ngIf="showImage"
          
          />
        
        
        </td>
        <td style="color:royalblue">
          <a [routerLink]="['/products',prod.productId]">
            {{prod.productName | myUpper:'lower':'vvv' }}</a>
       
   


        </td>
        <td>{{prod.productCode | myUpper:'upper'}}</td>
        <td>{{prod.releaseDate}}</td>
        <td [ngStyle]="{'background-color':prod.price<20?'red':'blue','color':'white'}"  >
          {{prod.price | discounted:10 | currency:"INR" }}</td>
          <!-- <td>
           {{prod.starRating}}
          </td> -->

          <td>            
                  <app-star  [rating]="prod.starRating" (ratingClicked)="onDataReceive($event)"   ></app-star>
            
           </td>    

      </tr>

      </tbody>


    </table>

  </div>

  <div class="panel panel-info">
  <div class="panel panel-heading">{{dept}}</div>
 <div class="panel panel-body">{{deptDetails}}</div>


 


  <!-- <a [routerLink]="['/products',prod.productId]"
  [queryParams]="{name:prod.productName,description:prod.description,img:prod.imageUrl}" >
{{prod.productName | myUpper:'lower':'vvv' }}

</a>  -->
 